body {
  font-family: "BioRhyme", sans-serif;
  overflow: hidden;
}

.navbar-dark .navbar-brand{
  color: rgb(205, 148, 0);
}
.navbar-dark .navbar-nav .nav-link{
  color: rgb(205, 148, 0);
}
.nav-item .nav-link{
  color: rgb(205, 148, 0);
}
h1, li{
  text-align: center;
  font-family: 'Oleo Script', 'serif';
}
.jumbotron {
  padding: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(135deg,rgba(119, 22, 153, 0.5), rgba(0, 255, 209, 0.63)),url("cover.jpg");
  }

.row{
    height: 33vh;
    border-radius: 10px;
  }

#blog{
  background-color: rgba(155, 155, 155, 0.5);
  overflow: auto;
  }

#about{
  font-size: 1.5rem;
  }

#skills{
  font-weight: bolder;
}
