.navbar-dark .navbar-brand{
  color: rgb(205, 148, 0);
}
.navbar-dark .navbar-nav .nav-link{
  color: rgb(205, 148, 0);
}
.nav-item .nav-link{
  color: rgb(205, 148, 0);
}
h1{
  text-align: center;
}
img{

}
 
